body {
  font-family: Noto Sans;
  font-size: 1rem;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin-top: 0;
}

#fontawesome {
  font-size: 2.5rem;
}

.mainTitle {
  margin: 0px;
}

.item-title {
  padding: 20px 0 0 0;
  margin: 0px;
}

.item-text {
  margin: 0px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  padding: 0.8rem;
  background-color: #efefef;
  text-align: center;
}
